@page "/"

<div id="content">
    <MudCard Style="margin: auto; width: 300px; padding: 20px;">
        <MudCardContent>
            <MudForm @ref="urlSubmitForm">
                <MudText>Generador codigo QR</MudText>
                <MudTextField @bind-Value="SubmittedUrl" Label="URL"
                HelperText="e.g. https://google.com" Variant="Variant.Outlined"
                Required="true" RequiredError="La URL es requerida"></MudTextField>
                
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="@(async () => await SubmitUrl())">
                Submit</MudButton>
            </MudForm>
        </MudCardContent>
    </MudCard>
    @if (!string.IsNullOrEmpty(QRCodeText))
    {
        <MudPaper MaxWidth="auto" Style="margin:auto">
            <div class="qr-container">
                <img width="400" height="400" src="@QRCodeText" />
            </div>
        </MudPaper>

    }

    
</div>